<h3>Welcome To eLearn</h3>
	<p>
	eLearn is a simple and free online learning platform. Instructors can create courses and students can register for courses which include assignments, quizes and support forums.
	</p>
	<a class="button" href="/users/register">Sign Up Free</a>
	<P>You need to signup to register for free classes</p>
