<h2>Add Lesson</h2>
<form id="regForm" method="post" action="/instructors/classes/{{class_id}}/lessons/new">
	<div>
		<label>Lesson Number: </label>
		<input type="text" name="lesson_number">
	</div><br />
	<div>
		<label>Lesson Title: </label>
		<input type="text" name="lesson_title">
	</div><br />
	<div>
		<label>Lesson Body: </label>
		<textarea name="lesson_body"></textarea>
	</div><br />
	<div>
		<input type="submit" value="Add Lesson">
	</div>
</form>