</div>
	    </div>
    </div>
    <footer>
    <p class="text-center">Albumz &copy; 2016, All Rights Reserved</p>
    </footer>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>