<% include ../partials/header %>
	<h1>Edit Genre</h1>
	<form method="post" action="/genres/edit/<%=id %>">
	  <div class="form-group">
	    <label>Name</label>
	    <input type="text" class="form-control" name="name" value="<%=genre.name %>" placeholder="Genre Name">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
<% include ../partials/footer %>