.albums img, .album img{
	width:100%;
	border:2px #fff solid;
}

.albums img:hover {
	opacity:0.7;
	cursor: pointer;
}

.albums h4{
	margin-bottom:0;
}

footer{
	margin-top:40px;
	border-top:#333 solid 1px;
	padding-top:20px;
}